

<div class="hidden stack" data-remodal-id="modal-calendars">
    <form class="calendar-groups">

        <div class="modal_content fill-weave-fog">
            <ul class="switches centered-list">
                {% for group in craft.venti.groups() %}
                    <li style="color:{{ group.color }}">
                        <input type="checkbox" id="cal-{{ group.id }}" name="cal[]" value="{{ group.id }}">
                        <label for="cal-{{ group.id }}"><span>{{ group.name}}</span></label>
                    </li>
                {% endfor %}
                <li><button class="btn calendar-groups-done" ><span>{{ 'Done'|t }}</span></button></li>
            </ul>
        </div>

        
    
    </form>

</div>
