/*

If you wish to use default owl.theme.css instead of this partial, 
delete this partial and include a link to owl.theme.css within the
<head> tag located in /include/global-header.php

*/

// Variables

$pagination-size: 2em;
$pagination-margin: .5em;

// Selectors 

$owl-theme-controls: '.owl-controls';
$previous-and-next: '.owl-buttons';
$pagination: '.owl-pagination';
$page: '.owl-page';

// Controls

#{$owl-theme-controls}{
	background: red;
	text-align: center;
	z-index: 10000;
	width: 100%;
	padding-top: $pad-medium;
	padding-bottom: $pad-medium;
	display: none;

	@include respond-to('desktop-small'){
		position: absolute;
		bottom:0;
		margin-bottom: 0;
  	}
}

// Previous and Next

#{$owl-theme-controls} #{$previous-and-next}{
	float: right;

	div:last-child{ margin: 0; }
}

#{$owl-theme-controls} #{$previous-and-next} div{
	// float: left;
	@include opacity(0.5);
}

// Simple Pagination (no numbers)

#{$owl-theme-controls} .owl-page {
	margin: 0 auto;

	display: inline-block;
	*display: inline;

	span{
		@include border-radius($pagination-size / 2);
		display: block;
		width: $pagination-size;
		height:$pagination-size;
		background: white;

	}
}

// Pagination (numbers)

#{$owl-theme-controls} #{$pagination}{
	text-align: center;

	#{$page}:last-child span{ margin: 0; }
}

#{$owl-theme-controls} #{$previous-and-next} div,
#{$owl-theme-controls} #{$page} span{
	color: white;
	margin-right:$pagination-margin;
	// @include opacity(0.5);
}

#{$owl-theme-controls} #{$previous-and-next} div,
#{$owl-theme-controls} .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: white;
	padding: 0.125em .5em;
	font-size: 1em;
}

// Non-touch hover action

#{$owl-theme-controls} .owl-page.active span,
#{$owl-theme-controls}.clickable #{$previous-and-next} div:hover,
#{$owl-theme-controls}.clickable .owl-page:hover span{
	@include opacity(1);
	background: $green;
}

//Preloading images

.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}