div.eventsNav,
div.calendar{ 
	width: 100%; 
	// font-size: $base-font-size;
	@include adjust-font-size-to(16px, 0.8125);
}

/*
* Events Filter
*/

.events-filter{
	@include rhythm-padding;

	> ul > li {
		margin: 0 $pad-tiny;

		> span{
			@extend %primary-font-condensed;
			@include adjust-font-size-to(24px);
			padding: 0 $pad-tiny;
			cursor: pointer;
		}

		&:not(.active) span{ color: black !important;}
	}
}

/*
* Events Nav
*/

.eventsNav{
	background: $blue;
	color: white;
	text-transform: none;
	letter-spacing: auto;
	margin-bottom: 0;
	@include rhythm-padding(1/2);

	a.arrow-left{ border-right-color: white; }
	a.arrow-right{ border-left-color: white; }
}

.eventsNav:before { display: none; }

.eventsNav h2 {
	@extend %primary-font-condensed;
	@include adjust-font-size-to(24px);
	line-height: normal;
	letter-spacing: normal;
	margin-bottom: 0;
	background: none;
}

/*
* Calendar
*/

#events-calendar.v-space, 
#events-list.v-space, 
{ padding-top: 0; }

div.calendar{

	table{

		@extend %primary-font;

		thead{
			border-left: $default-border-width solid $blue;
			border-right: $default-border-width solid $blue;
		}

		tbody{
			border:solid $grey-light;
			border-width:0 $default-border-width $default-border-width $default-border-width;
		}
	}

	th {
		color:#fff;
		padding:$pad-small;
		background-color: $blue;
	}

	tr:nth-child(n+2) td{
		border-top:$default-border-width solid $grey-light;
	}

	td {
		position: relative;
		padding: $pad-small;
	   	border-left:$default-border-width solid $grey-light;
	   	vertical-align:top;

		> div {
			position: relative;
			display: block; 
			min-height: em(144px);
		}

		&.calendar_day-other {
			background-color: $grey-light;
		}

		&.calendar_day-current {

			span.calendar_day-num {
				color:$blue;
				font-weight: bold;
			}
		}

		.event-item{
			@include trailer(1/2);
			&:last-child{ margin-bottom: 0; }
		}

		span.calendar_day-num {
			text-align: right;
		 	color: $grey;
		 	display: block;
		}

		span.title, 
		span.time
		{ color: $blue; }

		span.time, 
		span.description
		{ display: block; }

		span.time{ font-style: italic; }

		span.description{  @include leader(1/4); }
	}
} 

ul.timeline{

	> li{
		padding: $pad-small;
		border-bottom: $default-border-width solid $grey-light;

		&:last-child{ border: none; }

		.event-item{
		 	display: block;
			@include trailer(1/2);
			&:last-child{ margin-bottom: 0; }
		}

		span.title, 
		span.time
		{ color: $blue; }

		span.time, 
		span.description
		{ display: block; }
	}
}

// Breakpoints

#events-calendar{ display: none; }

@include respond-to( 'desktop-medium', max-width){
	#events-list{ 
		padding-left:0;
		padding-right: 0;
	}
}

@include respond-to( 'desktop-medium'){
	#events-list{ display: none; }
	#events-calendar{ display: block; }
}

// Event Detail

#content article.event-detail{

	p.back-to-month{
		text-align:center;
		
		@include leader;
		
		a{
			font-weight: bold;	
			color: $blue;
		}
	}
	
	header {
		h2, 
		p{ 
			margin-bottom: 0;
			text-align: center;
		}

		p.time{ @include leader; }
	}

	img{ min-width: 100%; }
}

