$amount:0.5;

 // Color Pallette

$green            : #008445;
$blue             : #005899;
$yellow           : #fdbb33;
$purple           : #7f3f98;
$red              : #d82c25;
$tan              : #efefeb;

$grey             : #6b8293;
$grey-light       : tint($grey, 75%);

// Base Units

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

$base-font-size   : 16px;
$base-line-height : 24px;

// Padding - Tip: Padding variables must be a multiple of our $base-line-height to ensure vertical rhythm 

$pad-tiny               : em($base-line-height / 4);
$pad-small              : em($base-line-height / 2);
$pad-medium             : em($base-line-height);
$pad-large              : em($base-line-height * 2);
$pad-extra-large        : em($base-line-height * 2.5);

//  Global selectors

$global-header	    : 'body > div > header';
$global-footer      : 'body > div > footer';

$article-header     : 'article header';
$article-footer     : 'article footer';
$figure             : 'article figure';

// Global avatar size

$avatar-size: em(144px);
$bio-pic-size: em(144px);
$left-quote-size: em(48px);

// Compass

@import "compass";
@import "compass/reset";
@import "compass/layout/grid-background";

// Containers

$site-min-width: em(360px);
$site-max-width: em(1800px);
$narrow-width: em(1000px);
$wide-width: em(1600px);

$sub-menu-width: 300px;

// Breakpoints

@mixin respond-to($breakpoint, $width-name:min-width) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media ( $width-name : #{inspect(map-get($breakpoints, $breakpoint))} ) {
      @content;
    } 
  }
  
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

$breakpoints: (
  
  // Devices
  
  'device-small'   : em(400px),
  'device-medium'  : em(550px),
  'device-large'   : em(700px),

  // Desktops
  
  'desktop-small'  : em(850px),
  'desktop-medium'  : em(1000px),
  'desktop-large'  : em(1250px),
  'desktop-extra-large'  : em(1400px)
) !default;

// Borders

$default-border-width             : 1px;
$default-border-color             : $grey-light;
$default-border-style             : solid $default-border-color;
$default-rhythm-border-width      : $default-border-width;
$default-rhythm-border-style      : $default-border-style;

$default-border-radius            : 12px;

// Animation

$default-transition-speed: 0.2s;

// CSS Arrows

$arrow-size:16px;
$arrow-color: black;

// Drop Shadow Size

$drop-shadow-size:12px;

// Box-shadow Properties

$box-shadow-size: 3px;

$default-box-shadow-h-offset: 0;
$default-box-shadow-v-offset: $box-shadow-size / 2;
$default-box-shadow-blur: $box-shadow-size;
$default-box-shadow-spread: 0;
$default-box-shadow-color: rgba(black, 0.125);

// Text-shadow Properties

$default-text-shadow-h-offset: 2px;
$default-text-shadow-v-offset: 2px;
$default-text-shadow-blur: 1px;
$default-text-shadow-color: black;

// Partials

@import "_a_defaults";
@import "_b_typography";
@import "_c_template";
@import "_d_forms-and-buttons";
@import "_e_tabs-and-accordions";
// @import "_f_owl-carousel";
@import "_g_extras";
// @import "_h_helpers-for-testing";

@import "_i_calendar";
