
// Adjust Margins to retain rhythm
// Tip: Only applicable if using a border around the accordion or tab buttons

$margin-adjust: em($default-border-width);

// Tabs

ul.tab-buttons{

  > li{ 
    @extend %apply-rhythm-borders;
    cursor:pointer;
  }
  
  > li:first-child > a{ padding-top:0; }
  
  a{ 
    width: 100%;
    display: block;
    padding-top:$margin-adjust; 
    text-align: center;
  }

  li.selected{ 
    position: relative; 
    z-index: 500;
    border-color: $green;
  }

  @include respond-to('device-small'){

    > li{
      float: left; 
      margin-top:0; 
      margin-left: -$margin-adjust;
    }
    
    a{ padding-top:0; }

    li.selected{ border-bottom-color: transparent; }
  }
}

// Accordions

.tab-panel.selected{ display: block; }

ul.accordion > li.leader,
ul.accordion > li.acc-button,{
  cursor:pointer;

  > a{ display: block; }

  span.fa{ 
    float: right;
    @include adjust-font-size-to(1em, 1);
  }
}

ul.accordion.generic > li.leader,
ul.accordion.generic > li.acc-button{
  
  > a{
    // Add padding to adjust for negative margin
    padding-top:$margin-adjust;
  }

    @extend %apply-rhythm-borders;
}

ul.accordion.generic > li.acc-button.selected{ border-color:$green; }

ul.accordion.generic, 
ul.accordion.generic > li.acc-button
{ margin-top:-$margin-adjust; }

ul.tab-buttons,
ul.tab-buttons > li:first-child,
ul.accordion.generic > li.acc-button:first-child,
{ margin:0; }

.tab-panel,
.acc-panel{
  display: none;
}