{% extends "_layout" %}

{% block content %}

<div id="content" role="main">

<article class="about">

    <div class="wide-left">

        <div class="wide">

            <section class="leading h-space">

                <header class="v-space">
                    <h1>{{ entry.title }}</h1>
                </header>

            	{% if entry.hero %}
	            
	            {% set img = "" %}

	            {% for asset in entry.hero %}
	                {% set img = asset.url %}
	            {% endfor %}

                <figure class="hero">
                    <img src="{{ img }}" alt="{{ entry.altAttribute }}">

                    {% if entry.photoCredit %}
                    {% if entry.photoCreditLink%}

                    <figcaption>
                        {% if entry.photoCaption %} {{ entry.photoCaption }} {% endif  %}
                        <span class="credit"><a href="{{ entry.photoCreditLink }}" target="_blank">photo by {{ entry.photoCredit }}</a></span></figcaption>
                    {% else %}
                    
                    <figcaption>
                        {% if entry.photoCaption %} {{ entry.photoCaption }} {% endif  %}
                        <span class="credit">photo by {{ entry.photoCredit }}</span>
                    </figcaption>
                    
                    {% endif %}
                    {% endif %}
                    
                </figure>

                {% endif %}

                <p>{{ entry.introduction|striptags('<strong><em><a><p>')|raw }}</p>

            </section>

            {% for block in entry.contentMatrix %}

            {% switch block.type %}

                {% case "generalSection" %}

        		<section class="h-space stack">
                    {{ block.text|replace('/<[^\\/>][^>]*><\\/[^>]+>/', '')|raw }}
                </section>

                {% case "figureFull" %}

                {% set img = block.image.first() %}

                <section>
                    <figure>
	                    <img src="{{ img.getUrl() }}" alt="{{ block.altAttribute }}">

                        {% if block.credit %}
                        {% if block.creditLink%}

                        <figcaption>
                            {% if block.caption %} {{ block.caption }} {% endif  %}
                            <span class="credit"><a href="{{ block.creditLink }}" target="_blank">photo by {{ block.credit }}</a></span></figcaption>
                        
                        {% else %}
                        
                        <figcaption>
                            {% if block.caption %} {{ block.caption }} {% endif  %}
                            <span class="credit">photo by {{ block.credit }}</span>
                        </figcaption>
                        
                        {% endif %}
                        {% endif %}

                    </figure>
                </section>

                {% case "bioGroup" %}

        		<section class="stack">

                    <header class="h-space">
                        <h2>{{ block.bioType }}</h2>
                    </header>

					{% for entry in block.individual %}

						{% for asset in entry.singleImage %}
                            {% set img = asset.getUrl() %}
                        {% endfor %}

                        <section class="bio h-space stack">				
						
	        				{% if entry.singleImage | length %}

	        				<figure class="right">
	        					<img src="{{ img }}" alt="{{ entry.title }}">
	        				</figure>
	        				
	        				{% endif %}
							
							<h3 class="no-margin">{{ entry.title }}</h3>
							<p><em>{{ entry.professionalTitle }}</em></p>
	        				<p>{{ entry.body|replace('/<[^\\/>][^>]*><\\/[^>]+>/', '')|raw }}</p>

						</section>

                        {% if loop.last == false %}<hr class="stack">{% endif %}

            		{% endfor %}

                </section>

                {% case "sermonAudio" %}

                {% include "_partials/_svg_audio.html" %}

                {% for entry in block.currentSermons %}

                <section class="h-space stack">
                
                    {% set currentAudio = '' %}
                    
                    {% for asset in entry.audioFile %}
                        {% set currentAudio = asset.getUrl() %}
                    {% endfor %}

                    <div class="two-across">

                        <div>
                            <p class="date">{{ entry.postDate.format('F d, Y') }}</p>
                            <h5 class="no-margin">{{ entry.title }}</h5>
                            <p>{{ entry.fullName }}</p>
                        </div>

                        <div>
                            <div class="player"><audio preload="none" controls><source src="{{ currentAudio }}"></audio></div>
                            <div class="player--media-links">
                                <a href="{{ currentAudio }}" class="player__btn" download=""><svg class="icon-download"><use xlink:href="#icon-download"></use></svg> Download</a>
                                <a href="{{ currentAudio }}" class="player__btn new-window" target="_blank"><svg class="icon-new-window"><use xlink:href="#icon-new-window"></use></svg> Play in new window</a>
                            </div>
                        </div>

                    </div><!-- end two-accross -->

                </section>

                <hr class="stack">

                {% endfor %}

                {% case "volunteerOpportunity" %}

                <section class="volunteer opportunity h-space stack">
                    <h2>{{ block.headline }}</h2>
                    {{ block.text|replace('/<[^\\/>][^>]*><\\/[^>]+>/', '')|raw }}
                </section>

                <hr class="stack">

                {% default %}

        		<section class="h-space stack">
                    <p>A font walks into a bar.</p>
                    <p>The bartender says, “Hey, we don’t serve your type in here!”</p>
                </section>

            {% endswitch %}

            {% endfor %}

            {% if mn_sub == 'volunteer' %}

                <section class="h-space stack">

                    <h2>Volunteer Inquiries</h2>

                    <ul class="contact-list gen-nav">
                        
                        {% for entry in craft.entries.section('volunteerContacts') %}
                        
                        <li>
                            <p>
                                <strong>{{ entry.title }}</strong><br>
                                {{ entry.fullName }}<br>
                                <a href="#">{{ entry.emailAddress }}</a>
                            </p>
                        </li>

                        {% endfor %}

                    </ul>
                    
                </section>

            {% endif %}

            {% if mn_sub == 'parish-life' %}

                <section class="h-space stack">
                    <h2>We're on Instagram</h2>
                    {% include "_partials/_instagram-gallery.html" %}
                </section>

            {% endif %}

            {% if mn_sub == 'worship-schedule' %}

                <section class="h-space stack">

                    <h2>Worship Schedule</h2>

                    {% for entry in craft.entries.section('worshipSchedule') %}

                    <h3>{{ entry.title }}</h3>

                    <ul class="worship-schedule gen-nav">

                        {% for row in entry.worshipTimes %}
                        
                        <li><p class="no-margin"><span class="time">{{ row.time }}</span><span class="title">{{ row.title }}</span></p></li>

                        {% endfor %}

                    </ul>

                    {% endfor %}

                </section>

            {% endif %}

            {% if mn_sub == 'adult-education' %}

                <section class="h-space stack">

                    <h3>Upcoming Forums</h3>

                    <ul class="adult-education gen-nav">
    
                        {% for event in craft.venti.events().group('adultEducation')  %}
                        
                        <li>
                            <p class="no-margin"><strong>{{ event.startDate|date('F d, Y') }} </strong></p>
                            <p class="no-margin">{{ event.startDate|date("g:i a")}}</p>
                            <p class="no-margin">{{ event.eventDescription }}</p>
                        </li>

                        {% endfor %}

                    </ul>
                    
                </section>

            {% endif %}

            {% if mn_sub == 'concert-series' %}

                <section class="h-space stack">

                    <h2>Upcoming Events</h2>

                    <ul class="concert-series gen-nav">

                        {% for event in craft.venti.events().group('concertSeries') %}
                        
                        <li>
                            <p class="no-margin"><strong>{{ event.startDate|date('F d, Y') }}</strong></p>
                            <p class="no-margin">{{ event.startDate|date("g:i a")}}</p>
                            {% if event.eventOverview %}
                            <p class="no-margin">{{ event.eventOverview|striptags('<em><br>')|raw }}</p>
                            {% endif %}
                            {% if event.eventDescription %}
                            <span class="small">{{ event.eventDescription }}</span>
                            {% endif %}
                        </li>

                        {% endfor %}

                    </ul>

                </section>

            {% endif %}

            {% if mn_sub == 'a-little-midday-music' %}

                <section class=" h-space stack">

                    <h2>Upcoming Concerts</h2>

                    <ul class="a-little-midday-music gen-nav">

                        {% set currentYear = now|date("Y") %}

                        {% for event in craft.venti.events().group('middayMusic') if event.startDate|date('Y') == currentYear  %}
                        
                        <li>
                            <p class="no-margin"><strong>{{ event.startDate|date('F d, Y') }}</strong></p>
                            <p class="no-margin">{{ event.startDate|date("g:i a")}}</p>
                            <p class="no-margin">{{ event.eventDescription }}</p>
                        </li>

                        {% endfor %}

                    </ul>

                    <p class="hidden"><a href="/media/downloads/midday-music-fall-schedule.jpg"  download>Download 2017 Fall Schedule</a></p>

                </section>

            {% endif %}

            {% if mn_sub == 'liturgical-music' %}

                <section class="h-space stack">

                    <h2>Upcoming Liturgical Music Schedule</h2>

                    <ul class="liturgical-music-schedule gen-nav">

                        {% for entry in craft.entries.section('liturgicalMusic') %}
                                                
                        <li>
                            <p class="date">{{ entry.date }} </p>
                            <p><strong>{{ entry.title }}</strong></p>
                                
                            {% if entry.choir %}
                            <p class="choir">({{ entry.choir }})</p>
                            {% endif %}

                            {% if entry.performances|length > 1  %}

                            <ul class="performances">

                                {% for row in entry.performances %}

                                <li>
                                    <span class="left">{{ row.performer }}</span>
                                    <span class="right">{{ row.song }}</span>
                                </li>

                                 {% endfor %}
                            </ul>

                            {% endif %} 

                            {% if entry.bodySimple %}
                            
                            <span class="description">

                                {{ entry.bodySimple|striptags('<em><a>')|raw }}
                                
                            </span>

                            {% endif %}

                        </li>

                        {% endfor %}

                    </ul>
                    
                </section>

            {% endif %}

			{% include "_partials/_share.html" %}

        </div><!-- end wide -->

		<div class="short">

			<aside id="aside-nav">
            {% set current = mn_top %}
			    <nav>{% include "_partials/_subnav_" ~ current ~ ".html" %}</nav>
        
			</aside>
		
			{% include "_partials/_aside-extras.html" %}
		
		</div><!-- end short -->

    </div><!-- end wide-left -->

</article>

</div><!-- end content -->

{% endblock %}