
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	
	<link rel="home" href="{{ siteUrl }}" />

    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="d2ERXssXmMADKHqnFLgQbdd8oL4RzFE-X8G63trJM4k" />
    
    {% hook 'seomaticRender' %}
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,400i,600,600i,700,700i|Playfair+Display:700,700i" rel="stylesheet">

    {% block templateSpecificStyles %}{% endblock %}

    <!-- Global Styles -->
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="/css/player-style.css">
    
    <link rel="stylesheet" href="/owl-carousel/owl.carousel.min.css">
    
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css"> 

    <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <!-- Adaptive images -->
    <script>document.cookie='resolution='+Math.max(screen.width,screen.height)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';</script>
    <script src="https://kit.fontawesome.com/3251f524b1.js" crossorigin="anonymous"></script>

    <style>
        .covid-message{
            text-align: center;
            padding: 1em;
            background-color: #000000;
            color: white;
        }

        .covid-message > strong{
            display: block;
        }

        .covid-message > p{
            line-height: 1.75;
            color: #FDBB33;
        }

        .covid-message a{
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .covid-message a span{
        margin-left: 0.375rem;
        }
    </style>
</head>

<body>

{% set mn_top = craft.request.getSegment(1) %}
{% set mn_sub = craft.request.getSegment(2) %}

<div id="menu-off-canvas">

    <nav role="navigation">
    
		<ul class="main-navigation">
		    <li {% if mn_top == "about" %} class="selected" {% endif %}>
		        <a href="/about/welcome" title="About">About</a>
                {% include "_partials/_subnav_about.html" %}
		    </li>
		    <li {% if mn_top == "worship" %} class="selected" {% endif %}>
		        <a href="/worship/worship-schedule" title="Worship">Worship</a>
                {% include "_partials/_subnav_worship.html" %}
		    </li>
		    <li {% if mn_top == "music" %} class="selected" {% endif %}>
		        <a href="/music-at-transfiguration" title="Music">Music</a>
                {% include "_partials/_subnav_music.html" %}
		    </li>
            <li {% if mn_top == "education" %} class="selected" {% endif %}>
                <a href="/education/bible-study" title="Education">Education</a>
                {% include "_partials/_subnav_education.html" %}
            </li>
		    <li {% if mn_top == "events" %} class="selected" {% endif %}>
		        <a href="/events/calendar" title="Events">Events</a>
                {% include "_partials/_subnav_events.html" %}
		    </li>
		    <li {% if mn_top == "blog" %} class="selected" {% endif %}>
		        <a href="/blog" title="Blog">Blog</a>
		    </li>
		    <li {% if mn_top == "give" %} class="selected" {% endif %}>
		        <a href="/give" title="Give">Give</a>
		    </li>
		</ul>

    </nav>

</div>

<div id="wrap">


    <header class="group">

        <div class="covid-message text--center">

            <p> 
                <strong>{{ siteUrl }} <br> We Continue to Worship Together Via Social Media</strong><br>
                <strong>
                    <a href="https://www.youtube.com/churchofthetransfigurationlittlechurchnyc" target="_blank">
                        Join us on YouTube
                        <span class="fab fa-youtube fa-lg"></span> 
                    </a>
                </strong>
            </p>

        </div>


        <p class="address h-space"><em>1 East 29th St, NY, NY 10016</em><span>•</span><strong>Parish Office:</strong>212-684-6770</p>

        <div id="logo" class="h-space">

            <a href="{{ siteUrl }}" class="home" title="{{ siteName }} home">
                <img src="/images/little-church-logo.svg" alt="{{ siteName }} logo">
            </a>
                
        </div>

        <nav id="secondary-nav" class="group h-space" role="navigation">
            
            <a href="#" id="toggle-menu"><span class="fa fa-bars"></span> <span class="title">Menu</span></a>
            
            {% include "_partials/_secondary_navigation.html" %}
            
        </nav><!-- end secondary-nav -->

        <nav id="primary-nav" class="h-space" role="navigation">
        
			<ul class="main-navigation">
			    <li {% if mn_top == "about" %} class="selected" {% endif %}>
			        <a href="/about/welcome" title="About">About</a>
                    {% include "_partials/_subnav_about.html" %}
			    </li>
			    <li {% if mn_top == "worship" %} class="selected" {% endif %}>
			        <a href="/worship/worship-schedule" title="Worship">Worship</a>
                    {% include "_partials/_subnav_worship.html" %}
			    </li>
			    <li {% if mn_top == "music" %} class="selected" {% endif %}>
			        <a href="/music/music-at-transfiguration" title="Music">Music</a>
                    {% include "_partials/_subnav_music.html" %}
			    </li>
                <li {% if mn_top == "education" %} class="selected" {% endif %}>
                    <a href="/education/bible-study" title="Education">Education</a>
                    {% include "_partials/_subnav_education.html" %}
                </li>
			    <li {% if (mn_top == "events") or (mn_top == "event") %} class="selected" {% endif %}>
			        <a href="/events/calendar" title="Events">Events</a>
                    {% include "_partials/_subnav_events.html" %}
			    </li>
			    <li {% if mn_top == "blog" %} class="selected" {% endif %}>
			        <a href="/blog" title="Blog">Blog</a>
			    </li>
			    <li {% if mn_top == "give" %} class="selected" {% endif %}>
			        <a href="/give" title="Give">Give</a>
			    </li>
			</ul>

        </nav><!-- end primary-nav -->

    </header>

    {% block content %}

	{% endblock %}

	    <footer>

        <div id="follow-us" class="two-across">

            <div id="newsletter" class="h-space v-space">

                <h3>Receive Our Newsletter</h3>

                <form id="newsletter-form" name="newsletter-form" class="container-narrow">
                    
                    <fieldset>

                        <div class="form-item">
                            <div class="wrap-input">
                                <input type="text" name="email" placeholder="Email address" maxlength="80">
                            </div> 

                            <div class="wrap-button"><button type="submit" class="black">Add</button></div>
                        </div>

                    </fieldset>

                    <div id="success_message" class="form-response">
                        <p>Thanks for signing up!</p>
                    </div>

                </form> 

            </div>

            <div id="social" class="h-space v-space">
                
                <h3>Follow Us</h3>

                <ul class="centered-list">
                    <li><a href="https://www.facebook.com/littlechurchnyc" title="Little Church Facebook" target="_blank"><img src="/images/btn-facebook.svg"></a></li>
                    <li><a href="https://twitter.com/littlechurchnyc" title="Little Church Twitter" target="_blank"><img src="/images/btn-twitter.svg"></a></li>
                    <li><a href="https://www.instagram.com/littlechurchnyc" title="Little Church Instagram" target="_blank"><img src="/images/btn-instagram.svg"></a></li>
                </ul>
            </div>

        </div>

        <div id="global-links" class="wide-left">

            <div class="wide v-space">

                <nav role="navigation">

                    <div class="four-across">
                        <div>
                            <div class="h-space">
                                <ul class="gen-nav">
                                    <li><a href="/about/welcome"><h5>About</h5></a></li>
                                    <li>
                                        {% include "_partials/_subnav_about.html" %}
                                    </li>
                                </ul>
                            </div>
                            <div class="h-space">
                                <ul class="gen-nav">
                                    <li><a href="/worship/worship-schedule"><h5>Worship</h5></a></li>
                                    <li>
                                        {% include "_partials/_subnav_worship.html" %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <div class="h-space">
                                <ul class="gen-nav">
                                    <li><a href="/music/music-at-transfiguration"><h5>Music</h5></a></li>
                                    <li>
                                        {% include "_partials/_subnav_music.html" %}
                                    </li>
                                </ul>
                            </div>
                            <div class="h-space">

                                <ul class="gen-nav">
                                    <li><a href="/education/adult-education"><h5>Education</h5></a></li>
                                    <li>
                                        {% include "_partials/_subnav_education.html" %}
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div><!-- end four-across -->

                </nav>

            </div><!-- end wide -->

            <div class="short h-space v-space">
                <nav>
                    
                <ul class="gen-nav">
                    <li><a href="/events/calendar"><h5>Events</h5></a></li>
                    <li><a href="/blog"><h5>Blog</h5></a></li>
                    <li><a href="/give"><h5>Give</h5></a></li>
                </ul>

                <div class="stack half">
                    {% include "_partials/_secondary_navigation.html" %}
                </div>
                            
                </nav>
                <p>
                    <strong>The Church of the Transfiguration</strong><br>
                    1 East 29th Street<br>
                    New York, New York 10016
                </p>
                <p><strong>Parish Office:</strong> 212-684-6770</p>
                <img src="/images/wheelchair-access.svg" alt="Wheelchair Access">
            </div>

        </div><!-- end all-links -->

    	<div id="end" class="two-across">
            <div class="h-space">
                <img src="/images/episcopal-badge.svg" alt="Episcopal Church">
                <p><em>We are an Episcopal Church and part of the larger, worldwide Anglican Communion, with a rich musical and liturgical tradition.</em></p>
            </div>
            <div class="h-space">
                <p>The Little Church is home to the Episcopal Actors' Guild of America.
                <span class="copyright">&copy; 2017 The Church of the Transfiguration.</span></p>
            </div>    	
        </div>

    </footer>

</div><!-- end wrap -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
<script src="http://code.jquery.com/jquery-migrate-1.1.1.js"></script>

{% block templateSpecificScripts %}{% endblock %}

<!-- owl carousel -->
<script src="/owl-carousel/owl.carousel.min.js"></script>

<!-- svgeezy -->
<script src="/js/vendor/svgeezy.min.js"></script>

<!-- keepRhythm -->
<script src="/js/vendor/jquery.keeptherhythm.js"></script>

<!-- CustomSelect -->
<script src="/js/vendor/jquery.customSelect.min.js"></script>

<!-- Hover Intent -->
<script src="/js/vendor/jquery.hoverIntent.minified.js"></script>

<!-- StickyKit -->
<script src="/js/vendor/jquery.sticky-kit.js"></script>

<!-- Magnific Popup core JS file -->
<script src="/js/vendor/jquery.magnific-popup.min.js"></script>

<!-- Milestone Creative Toolbar -->
<script src="/js/mc-toolbar.js"></script>

<!-- AudioPlayer -->
<script src="/js/vendor/player-script.js"></script>

<!-- jQuery Validate -->
<script src="/js/vendor/jquery.validate.min.js"></script>

<script src="/js/main.js"></script>