/* Manual Resets */ 

// Generic selectors

html { overflow: scroll; }
body { overflow: hidden; }

$selection-color: fade-out($yellow, 0.5);

:active { outline: none; }
:focus { outline-offset: -3px; }

::-moz-selection,
{
  background: $selection-color;
  text-shadow: none;
}

::selection {
  background: $selection-color;
  text-shadow: none;
}

a, 
a:hover, 
a:visited
{ color: inherit; }

hr {
  display: block;
  background: black;
  height: 0;
  border: 0;
  margin:0;
  padding:0;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Apply clearfix & box model 

div,
article,
nav,
ul,
aside,
section,
header,
footer,
ul,
form,
fieldset,
figure,
figcaption,
video,
audio,
canvas {
  @include clearfix();
}

// Clear floats

.group:before,
.group:after {
  content: "";
  display: table;
} 

.group:after { clear: both; }

.group { zoom: 1; /* For IE 6/7 (trigger hasLayout) */ }

*, *:before, *:after {
  @include box-sizing(border-box);
}

%set-overflow-visible{
  overflow: visible;
}

// Position relative

#{$global-header},
#{$global-footer},
ul.main-navigation > li,
#content, 
#marquee-wrapper,
.owl-carousel,
.list-grid > li > a,
.feature-block,
nav,

article div.wide

{ position: relative; }

// Certain selectors should not have overflow:hidden

#wrap,
#{$global-header},
#{$global-header} nav,
#{$global-header} ul.main-navigation,
#{$global-header} ul.main-navigation > li,
.list-grid,

article .wide-left,
article .wide-left .short,
#aside-nav,
#aside-nav nav,
.has-shadow,

#latest-post div.h-space,

article header,

{ @extend %set-overflow-visible; }

// Global image settings

img { vertical-align: middle; }

.marquee img,
#leader img,
#content img,
.list-grid img,
.mfp-container img { max-width: 100%; }

#artifacts .list-grid img, 
section.characters img{ min-width: 100% }

// Padding and margin reset & centering

%reset{
  padding: 0;
  margin: 0;
}

%centered{
  margin-left: auto;
  margin-right: auto;
}

// Lists

ul, ol{
  @extend %reset;
  padding: 0 0 0  24px;
}

ul{ list-style: disc; }
ol{ list-style: decimal; }

nav ul,
.gen-nav,

/* Optional 

.accordion,
.tab-buttons,

*/

.centered-list,
.link-list,
.link-list ul,
.dots
{
  list-style: none;
  @extend %reset;

  li{
    line-height: auto;
    text-indent: 0;
    @extend %reset;
  }

  a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    *display: inline;
  }
}

.inline-list-left,
.inline-list-right,

.list-grid
{ 
  list-style: none;
  @extend %reset;
}
 
.inline-list-left > li{ float: left; }
.inline-list-right > li{ float: right; }

.centered-list{
  font-size:0;
  line-height: 0;

  text-align: center;

  li{
    font-size: $base-font-size;
    display: inline-block;
    @include adjust-leading-to(1);
    vertical-align: top;
  } 

  > li > ul{
    list-style: none;
    @extend %reset;
  }
}

// Custom Services List

ul.services{
  list-style: none;
  @extend %reset;

  li{ padding-left: 2em; } 
}

ul.services li:before {
  color: $green;
  content: '\f058';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -2em;
}

// Typography

html, body {
  font-size: 100%;
  line-height: 1.5;
}

html,
body,
button,
input,
select,
textarea{
  font-family:Helvetica, Helvetica Neue, Arial;
  -webkit-font-smoothing: antialiased;
  color:black;
  @extend %reset;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6, 
p:last-child,
li:last-child > p:last-child
{ @extend %reset; }

em{ font-style: italic; }

//  Default Links

a, a:hover, a:visited{ text-decoration: none; }

p > a:not(.btn),
p > a:not(.btn):hover,
p > a:not(.btn):visited,

p > em > a:not(.btn),
p > em > a:not(.btn):hover,
p > em > a:not(.btn):visited, 

p > a.link, 
p > a.link:hover, 
p > a.link:visited, 

ul.link-list ul > li > a,
ul.link-list ul > li > a:hover,
ul.link-list ul > li > a:visited,

article ul > li > a,
article ul > li > a:hover,
article ul > li > a:visited,

.link

{ color: $blue; }


.link:after{
  content: "\f0da";
  font-weight: normal;
  font-family: FontAwesome;
  margin-left: $pad-tiny;
}

li > p, 
blockquote > p{ font-size: 1em; }

li > p:last-child{ @include trailer(0.5); }

blockquote{
  padding: $pad-medium;

  em.credit{ 
    display: block;
    margin-top: $pad-small;
  }
  
  &:last-child{ margin-bottom: 0; }
}

p.footnote{

  &:before{
    content: "*";
    margin-right: $pad-tiny;
  }
}

.screen-reader-text, 
.hidden{ display:none !important; }

.no-wrap{ white-space: nowrap; }

// Forms & buttons

button,
input[type="text"],
input[type="email"],
input[type="password"],

textarea, 
label{
  display: block;
  width: 100%;
  font-size: 100%;
}

textarea { resize: vertical; }

.dd-menu,
select,
input[type="text"],
input[type="email"],
input[type="password"],
textarea{
  background-color: none;
  -webkit-appearance: none;
  border:none;
  border-radius: 0;
  outline: none;
}

select,
.dd-menu
{ width:100%; }

.form-item{ @include trailer(1); }

button{
  @extend %reset;
  display:inline-block;
  border:none;
  background:none;
  font-weight: bold;
  cursor: pointer;
}