<div class='table-box'>

    <table width="100%">

        <col class="sunday" style="width:14.2857%">
        <col class="monday" style="width:14.2857%">
        <col class="tuesday" style="width:14.2857%">
        <col class="wednesday"  style="width:14.2857%">
        <col class="thursday" style="width:14.2857%">
        <col class="friday" style="width:14.2857%">
        <col class="saturday" style="width:14.2857%">

        <thead>
            <tr>
                {% for weekDay in calendar.head %}
                    <th style="text-align: center">
                        <span class="tri">{{ weekDay.abbr|t }}</span>
                        <span class="single hidden">{{ weekDay.narrow|t }}</span>
                    </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>

            {% set idx = 1 %}

            {% for item in days %}
                
                {% if idx == 1 %}
                    <tr>
                {% endif %}

                {# Determin if day is apart of this month or previous or next #}
                {% if item.date|date('n') == month %}

                    <td class="calendar_day {% if item.today %} calendar_day-current {% endif %}">
                        
                        <div>
                        
                            {# Day with number and title. If 1st add month name abbr #}
                            <span class="calendar_day-num">
                                {% if item.day == 1 %}
                                    {{ item.date|date("M") }}
                                {% endif %}
                                {{ item.day }}
                            </span>

                            {# Event output for day #}
                            {% if item.events|length %}

                            <ul class="gen-nav">

                                {% for d in item.events %}
                                
                                    <li class="event-item" data-group="{{ d.event.group.handle }}">
                                                                                
                                        {% if d.event.eventSpotlight %}

                                            <a class="calendar_event" href="{{ d.event.getUrl() }}">

                                                <span class="title">
                                                    <strong>{{ d.event.title }}</strong>
                                                </span>

                                                <span class="time">
                                                    {% if d.event.allDay %}
                                                    <span class="hidden">All Day</span>
                                                    {% else %}
                                                    {{ d.event.startDate|date("g:i a") }}
                                                    {% endif %}
                                                </span>
                                                
                                                {% if d.event.eventDescription %}
                                                <span class="description">
                                                    {{ d.event.eventDescription|truncate('chars', '34', '...', true) }}
                                                </span>
                                                {% endif %}
                                            </a>
                                            
                                        {% elseif d.event.linkUrl %}

                                            <a class="calendar_event" href="{{ d.event.linkUrl }}">

                                                <span class="title">
                                                    <strong>{{ d.event.title }}</strong>
                                                </span>

                                                <span class="time">
                                                    {% if d.event.allDay %}
                                                    <span class="hidden">All Day</span>
                                                    {% else %}
                                                    {{ d.event.startDate|date("g:i a") }}
                                                    {% endif %}
                                                </span>

                                                {% if d.event.eventDescription %}
                                                <span class="description">
                                                    {{ d.event.eventDescription|truncate('chars', '34', '...', true) }}
                                                </span>
                                                {% endif %}
                                            </a>

                                        {% else  %}

                                            <span class="calendar_event">

                                                <span class="title">
                                                    <strong>{{ d.event.title }}</strong>
                                                </span>

                                                <span class="time">
                                                    {% if d.event.allDay %}
                                                    <span class="hidden">All Day</span>
                                                    {% else %}
                                                    {{ d.event.startDate|date("g:i a") }}
                                                    {% endif %}
                                                </span>

                                                {% if d.event.eventDescription %}
                                                <span class="description">
                                                    {{ d.event.eventDescription|truncate('chars', '34', '...', true) }}
                                                </span>
                                                {% endif %}

                                            </span>

                                            {# </a> #}

                                        {% endif %}

                                    </li>

                                {% endfor %}
                            
                            </ul>
                        
                        {% endif %}
                        
                        </div>

                    </td>

                {% else %}

                    {# Days of previous or next month #}
                    <td class="calendar_day calendar_day-other">
                        <span class="calendar_day-num">
                            {% if item.day == 1 %}
                                {{ item.date|date("M") }}
                            {% endif %}
                            {{ item.day }}
                        </span>
                    </td>

                {% endif %}

                {# Increments the day of the week #}
                {% set idx = idx + 1 %}
                {# If last day in week close element & reset day to 1 #}
                {% if idx > 7 %}
                    </tr>
                    {% set idx = 1 %}
                {% endif %}
             {% endfor %}
        </tbody>
    </table>

</div><!-- end table-box -->

