{% extends "_layout" %}

{% block content %}

<div id="content" role="main">

    <article class="v-space">

    <div class="h-space" style="overflow: visible;">
        <h1>
            <span>The Church of the Transfiguration's</span>
            2021 Pledge Campaign
        </h1>
    </div>
		<div class="container-narrow stack">

            <section class="h-space">

                <figure class="figure-right" style="float: right; max-width:250px; margin-left: 24px;">
                    <img src="/images/pledge.jpg" alt="">
                </figure>

                <p>
                   <strong>Dear members and friends of our parish family,</strong> 
                </p>
                
                <p>
                    October 25th begins our <a href="https://forms.gle/cgyZpdseFNqd6WP9A" target="_blank">stewardship campaign for 2021</a>, and we are thinking about this year’s campaign in very different ways. In the midst of a devastating pandemic, some of our parish’s deepest prayers are being answered.
                </p>
                
                <p>
                    For years, we have been praying and thinking about ways to extend the reach of our parish’s love and mission beyond the walls of our building and the gates of our garden.  And through this present crisis, God has blessed us with answers!  When the pandemic closed our physical doors, we had to find other ways to continue to “be church,” and through the guidance of the Holy Spirit, we are living our faith more fervently than ever!  And now, we are being joined by members and friends who might never sit in our pews physically…but they are not “virtual,” they are here and part of our spiritual family! They are already finding ways to assume ministry and leadership and are walking the journey of faith with us as a parish family.
                </p>
                
                <p>
                    With many of our parishioners adversely affected by the present pandemic crisis, the financial abilities to pledge and donate have changed dramatically.  Again, we must find ways to think differently. Some will be able to give financially, and some will not.  But every member and friend of the parish can pledge their support of love and prayer, and this is what matters! It really does.
                </p>
                
                <p>
                    So for those who are able to pledge financially, please consider your pledge accordingly. For those who cannot or who are unsure of this year’s amount of commitment, please consider making an “open” pledge.  An open pledge simply means that you will give according to your ability, but because of lack of employment, funds, or knowledge of future income, you cannot declare a specific amount. And if prayer, love, and presence are what you have to offer this year, that counts a million times over!  The “open” pledge is for you.
                </p>
                
                <p>
                    Pledging should not be an exclusive spiritual act. Everyone should be able to make a pledge and refer to themselves as “pledging members” of a parish! So please help us with the goal of 100%  pledge participation!  If we don’t make our financial goal amount, but do obtain the 100% participation goal, then we have won nevertheless! And God will bless us mightily.
                </p>
                
                <p>
                    It seems that every family, business, and church has its own pandemic story, and ours is no different.  We were one of the first churches in New York to re-open, and our ministries have flourished.  Everything is different, of course, except for one important thing... God is in our midst, and we are a parish. And whatever the future holds, God is already there!
                </p>
                
                <p>
                    Thank you for your continued love and commitment to this parish.
                </p>

                <p>
                    With sincerest appreciation, 
                    <img src="/images/john-david-signature.jpg" alt="" style="margin: 12px 0; display:block;"> 
                </p>

                <p>
                    <strong>Fr. van Dooren</strong>
                </p>

                <a class="btn green" href="https://forms.gle/cgyZpdseFNqd6WP9A" style="display: block;" target="_blank">Submit Your Pledge</a>

            </section>
                
		</div>
			
    </article>
	
</div><!-- end content -->

{% endblock %}

