
<ul class="calendar-give-cta gen-nav v-space h-space hidden">
    <li class="calendar"><a href="/events/calendar" class="btn blue">Events</a></li>
    <li class="give"><a href="#" class="btn purple">Give</a></li>
</ul>

<div id="blog-posts" class="h-space v-space">
    <h4>Our Little Blog</h4>
	
	{% for entry in craft.entries.section('blog').limit(1) %}
		        
    <a href="{{ entry.url }}" title="{{ entry.title }}">
	    {% set img = "" %}
	    {% for asset in entry.blogFeature %}
	        {% set img = asset.url %}
	    {% endfor %}
		<img src="{{ img }}" alt="{{ entry.title }}">
		<p class="date">{{ entry.postDate.format('F d, Y') }}</p>
        <h5>{{ entry.title }}</h5>
    </a>
				
	{% endfor %}

</div>