<ul class="sub">
    <li {% if mn_sub == "welcome" %} class="selected" {% endif %}>
        <a href="/about/welcome">Welcome</a>
    </li>
    <li {% if mn_sub == "a-brief-history" %} class="selected" {% endif %}>
        <a href="/about/a-brief-history">A Brief History</a>
    </li>
    <li {% if mn_sub == "clergy-and-staff" %} class="selected" {% endif %}>
        <a href="/about/clergy-and-staff">Clergy &amp; Staff</a>
    </li>
    <li {% if mn_sub == "historical-society" %} class="selected" {% endif %}>
        <a href="/about/historical-society">Historical Society</a>
    </li>
    <li {% if mn_sub == "parish-life" %} class="selected" {% endif %}>
        <a href="/about/parish-life">Parish Life</a>
    </li>
    <li {% if mn_sub == "outreach" %} class="selected" {% endif %}>
        <a href="/about/outreach">Outreach</a>
    </li>
    <li {% if mn_sub == "volunteer" %} class="selected" {% endif %}>
        <a href="/about/volunteer">Volunteer</a>
    </li>
    <li {% if mn_sub == "sister-parishes" %} class="selected" {% endif %}>
        <a href="/about/sister-parishes">Sister Parishes</a>
    </li>
</ul>