<ul class="sub">
    <li {% if mn_sub == "music-at-transfiguration" %} class="selected" {% endif %}><a href="/music/music-at-transfiguration">Music at Tranfiguration</a></li>
    <li {% if mn_sub == "organist-and-choirmaster" %} class="selected" {% endif %}><a href="/music/organist-and-choirmaster">Organist &amp; Choirmaster</a></li>
    <li {% if mn_sub == "liturgical-music" %} class="selected" {% endif %}><a href="/music/liturgical-music">Liturgical Music</a></li>
    <li {% if mn_sub == "concert-series" %} class="selected" {% endif %}><a href="/music/concert-series">Concert Series</a></li>
    <li {% if mn_sub == "a-little-midday-music" %} class="selected" {% endif %}><a href="/music/a-little-midday-music">A Little Midday Music</a></li>
    <li {% if mn_sub == "choir-of-men-boys" %} class="selected" {% endif %}><a href="/music/choir-of-men-boys">Choir of Men &amp; Boys and Girls</a></li>
    <li {% if mn_sub == "girls-choir" %} class="selected" {% endif %}><a href="/music/girls-choir">Girls Choir</a></li>
    <li {% if mn_sub == "cherub-choir" %} class="selected" {% endif %}><a href="/music/cherub-choir">Cherub Choir</a></li>
    <li {% if mn_sub == "camerata" %} class="selected" {% endif %}><a href="/music/camerata">Camerata</a></li>
    <li {% if mn_sub == "support-our-music-program" %} class="selected" {% endif %}><a href="/music/support-our-music-program">Support Our Music Program</a></li>
</ul>
