
{% extends "_layout" %}

{% block content %}

	<div id="marquee-wrapper">

	    <div class="marquee owl-carousel">

        {% for entry in craft.entries.section('homeMarquees').limit(5) %}

	        {% set img = "" %}
	        
	        {% for asset in entry.marqueeImage %}
	            {% set img = asset.url %}
	        {% endfor %}

	       	<div class="gradient-overlay">
				<img src="{{ img }}" alt="{{ entry.title }}">
		        <div class="message">
		            <div class="container-narrow h-space">
	                    <a href="{{ entry.linkUrl }}" class="cta-case-study" title="{{ entry.title }}">
	                        <h3>{{ entry.headlineA }} <span>{{ entry.headlineB }}</span></h3>
	                        <p class="link white">{{ entry.linkText }}</p>
	                    </a>
	                </div>
	            </div>
	        </div>

        {% endfor %}

       	</div>

	    <div class="wrap-dots"><ul class="dots centered-list"></ul></div>

	</div>

	<div id="content" role="main">

	    <section id="introduction" class="h-space">

	        <header class="v-space">
        		{% for entry in craft.entries.section('home') %}
	            	<h1>{{ entry.headlineA }}<span>{{ entry.headlineB }}</span></h1>
	        	{% endfor %}
	        </header>
	        
	        <ul class="list-grid">

        		{% for entry in craft.entries.section('homeQuadrants') %}

		        {% set img = "" %}

				{% set img_transform = {
				  mode: 'crop',
				  width: 1000,
				  height: 584,
				  quality: 85,
				  position: 'center-center'
				} %}

		        {% for asset in entry.homeQuadtrant %}
		            {% set img = asset.getUrl(img_transform) %}
		        {% endfor %}

	            <li>
	                <a href="{{ entry.linkUrl }}" class="gradient-overlay">
	                    <h4 class="title">{{ entry.title }}</h4>
	                    <img src="{{ img }}" alt="{{ entry.title }}">
	                </a>
	            </li>
	        	{% endfor %}
	        </ul>

	    </section>

        <div class="h-space">
            
            <div id="event-spotlight" class="feature-block stack">
                
                <div class="h-space">
                    <h4>Event Spotlight</h4>
                </div>

                <div class="h-space">
                			    
			    	<ul class="list-grid three-across">

        				{% for event in craft.venti.events().featureOnHomepage(true).limit(3) %}

			    		<li>
							<a href="{{ event.getUrl() }}" title="{{ event.title }}">

								{% set img = "" %}

								{% set img_transform = {
								  mode: 'crop',
								  width: 1200,
								  height: 756,
								  quality: 85,
								  position: 'center-center'
								} %}

								{% for asset in event.eventImage %}
								  {% set img = asset.getUrl(img_transform) %}
								{% endfor %}

		                        <img src="{{ img }}" alt="{{ event.title }}">

                    			{% include "_partials/_event_date.html" %}

		                        <h5>{{ event.title }}</h5>
			            	</a>
			            </li>

			            {% endfor %}

			         </ul>
		         </div>

                <div class="wrap-link h-space">
                    <a href="/events/calendar">Calendar</a>
                </div>
            </div>
        
        </div>

        <section id="graphic-feature" class="stack">

        	{% for entry in craft.entries.section('home') %}
            
            <div class="two-across v-align reverse">

            	{% set img = "" %}
		        {% for asset in entry.graphicFeatureImage %}
		            {% set img = asset.url %}
		        {% endfor %}

                <div>
                	<a href="{{ entry.linkUrl }}" title="{{ entry.graphicFeatureHeadline }}">
                    	<img src="{{ img }}" alt="{{ entry.altAttribute }}">
                    </a>
                </div>
                <div class="h-space v-space">
                    <h4 class="title">{{ entry.graphicFeatureHeadline | striptags('<strong><em>')|raw }}</h4>
                    <p>{{ entry.graphicFeatureText }}</p>
                    <a href="{{ entry.linkUrl }}" class="btn green">{{ entry.linkText }}</a>
                </div>
            </div><!-- two-across -->
	        
	        {% endfor %}

        </section>

		<div id="blog-posts" class="home wrap-list-grid h-space v-space">
                
            <h4>Our Little Blog</h4>
		                    
		    <ul class="list-grid three-across">
				
				{% for entry in craft.entries.section('blog').limit(3) %}
		        
		        <li>
		            <a href="{{ entry.url }}" title="{{ entry.title }}">

						{% set img = "" %}

						{% set img_transform = {
						  mode: 'crop',
						  width: 1200,
						  height: 756,
						  quality: 85,
						  position: 'center-center'
						} %}

			            {% for asset in entry.blogFeature %}
			                {% set img = asset.getUrl(img_transform) %}
			            {% endfor %}

						<img src="{{ img }}" alt="{{ entry.title }}">

		                <p class="date">{{ entry.postDate.format('F d, Y') }}</p>
		                <h5>{{ entry.title }}</h5>
		            </a>
		        </li>
				
				{% endfor %}
		    </ul>
		    
		</div>

    </div><!-- end content -->
	
{% endblock %}