{% extends '_layout' %}

{% block templateSpecificStyles %}
{# <link rel="stylesheet" href="/assets/css/dist/venti.css"> #}
{% endblock %}

{% block content %}

{# Get the url params for month & year #}
{% set currentMonth = "now"|date('n') %}
{% set currentYear = "now"|date('Y') %}

{# Set the current Year - Month #}
{% set current = currentYear  ~ "-" ~ currentMonth ~ "-1" %}

{# Set previous and next months #}
{% set prevMonth = current|date_modify("last day of last month 23:59:00")|date('c') %}
{% set nextMonth = current|date_modify("first day of next month 00:00:00")|date('c') %}

{#  Get Events for month between prevMonth & nextMonth #}
{% set events = craft.venti.events().between(prevMonth,nextMonth|date_modify('last day of last month')|date('c')) %}

{% set groups = craft.venti.groups() %}

<div id="content" role="main">

  <div class="h-space v-space">
    <h1>Calendar</h1>
  </div>

  <div id="events-calendar" class="h-space v-space">
    {% include 'events/components/_eventsNav' with { prev:prevMonth, next:nextMonth, current:current, ids:[] } only %}
    {% include 'events/components/_calendar' with { events:events, month:currentMonth, year:currentYear } only %}
  </div><!-- end calendar -->
  
  <div id="events-list" class="h-space v-space">
    {% include 'events/components/_eventsNav' with { prev:prevMonth, next:nextMonth, current:current, ids:[] } only %}
    {% include 'events/components/_timeline' with { events:events, month:currentMonth, year:currentYear } only %}
  </div>

</div><!-- end content -->

{% include 'events/components/_modal-calendar-groups' %}

{% endblock %}

{% block templateSpecificScripts %}

<!-- Venti scripts -->
{% include 'partials/_icons' %}

<script type="text/javascript">
  window.csrfTokenName = "{{ craft.config.get('csrfTokenName') }}";
  window.csrfTokenValue = "{{ craft.request.getCsrfToken }}";
</script>

<script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,es6,fetch&flags=gated"></script>
<script src="/assets/js/dist/grapnel.js" charset="utf-8"></script>
<script src="/assets/js/dist/remodal.js" charset="utf-8"></script>
<script src="/assets/js/dist/venti.min.js"></script>

{% endblock %}
