<ul class="sub">
    <li {% if mn_sub == "worship-schedule" %} class="selected" {% endif %}><a href="/worship/worship-schedule">Worship Schedule</a></li>
    <li {% if mn_sub == "liturgy" %} class="selected" {% endif %}><a href="/worship/liturgy">Liturgy</a></li>
    <li {% if mn_sub == "audio-sermons" %} class="selected" {% endif %}><a href="/worship/audio-sermons">Audio Sermons</a></li>
    <li {% if mn_sub == "weddings" %} class="selected" {% endif %}><a href="/worship/weddings">Weddings</a></li>
    <li {% if mn_sub == "baptisms" %} class="selected" {% endif %}><a href="/worship/baptisms">Baptisms</a></li>
    <li {% if mn_sub == "funerals" %} class="selected" {% endif %}><a href="/worship/funerals">Funerals</a></li>
    <li {% if mn_sub == "prayer-requests" %} class="selected" {% endif %}><a href="/worship/prayer-requests">Prayer Requests</a></li>
</ul>
